@import "./variables.scss";

@import "./components/filters.scss";
@import "./components/header.scss";
@import "./components/modal.scss";
@import "./components/visit.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: $background-color;
  color: $text-color;
}

button {
  cursor: pointer;
}
